
 <app-carousel></app-carousel>
<!-- End of Carousel Slider  component -->

<div class="site-section">
     <div class="container">
          <div class="row">
               <div class="col-lg-8">
                    <app-editors-pick></app-editors-pick>
                    <!-- End of Editor's pick component -->
               </div>
               <div class="col-lg-4">
                    <app-trending></app-trending>
                    <!-- End of Trending component -->
               </div>
       </div>
     </div>
</div>
     
   <!-- END section --> 

   <div class="py-0">
     <div class="container">
       <div class="half-post-entry d-block d-lg-flex bg-light">
         <div class="img-bg" style="background-image: url('assets/images/big_img_1.jpg')"></div>
         <div class="contents">
           <span class="caption">Editor's Pick</span>
           <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
           <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi consectetur doloribus aliquam accusantium beatae?</p>
           
           <div class="post-meta">
             <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>
             <span class="date-read">Jun 14 <span class="mx-1"></span> 3 min read <span class="icon-star2"></span></span>
           </div>

         </div>
       </div>
     </div>
   </div>

   <div class="site-section">
     <div class="container">
       <div class="row">
         <div class="col-lg-6">
           <div class="section-title">
             <h2>Politics</h2>
           </div>
           <div class="post-entry-2 d-flex">
             <div class="thumbnail" style="background-image: url('assets/images/img_v_1.jpg')"></div>
             <div class="contents">
               <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
               <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
               <div class="post-meta">
                 <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                 <span class="date-read">Jun 14 <span class="mx-1"></span> 3 min read <span class="icon-star2"></span></span>
               </div>
             </div>
           </div>
           <div class="post-entry-2 d-flex">
             <div class="thumbnail" style="background-image: url('assets/images/img_v_2.jpg')"></div>
             <div class="contents">
               <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
               <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
               <div class="post-meta">
                 <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                 <span class="date-read">Jun 14 <span class="mx-1"></span> 3 min read <span class="icon-star2"></span></span>
               </div>
             </div>
           </div>
           <div class="post-entry-2 d-flex">
             <div class="thumbnail" style="background-image: url('assets/images/img_v_3.jpg')"></div>
             <div class="contents">
               <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
               <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
               <div class="post-meta">
                 <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                 <span class="date-read">Jun 14 <span class="mx-1"></span> 3 min read <span class="icon-star2"></span></span>
               </div>
             </div>
           </div>
         </div>
         <div class="col-lg-6">
           <div class="section-title">
             <h2>Business</h2>
           </div>
           <div class="post-entry-2 d-flex">
             <div class="thumbnail" style="background-image: url('assets/images/img_v_1.jpg')"></div>
             <div class="contents">
               <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
               <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
               <div class="post-meta">
                 <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                 <span class="date-read">Jun 14 <span class="mx-1"></span> 3 min read <span class="icon-star2"></span></span>
               </div>
             </div>
           </div>
           <div class="post-entry-2 d-flex">
             <div class="thumbnail" style="background-image: url('assets/images/img_v_2.jpg')"></div>
             <div class="contents">
               <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
               <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
               <div class="post-meta">
                 <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                 <span class="date-read">Jun 14 <span class="mx-1"></span> 3 min read <span class="icon-star2"></span></span>
               </div>
             </div>
           </div>
           <div class="post-entry-2 d-flex">
             <div class="thumbnail" style="background-image: url('assets/images/img_v_3.jpg')"></div>
             <div class="contents">
               <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
               <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
               <div class="post-meta">
                 <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                 <span class="date-read">Jun 14 <span class="mx-1"></span> 3 min read <span class="icon-star2"></span></span>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>



   <div class="site-section">
     <div class="container">
       <div class="row">
         <div class="col-lg-9">
               <app-recent-news></app-recent-news>
               <!-- End of Recent News component -->
         </div>
         <div class="col-lg-3">
               <app-popular-posts></app-popular-posts>
               <!-- End of Popular posts component -->
         </div>
       </div>

       <div class="row">
         <div class="col-lg-6">
           <ul class="custom-pagination list-unstyled">
             <li><a href="#">1</a></li>
             <li class="active">2</li>
             <li><a href="#">3</a></li>
             <li><a href="#">4</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>

   
